header{
    flex-direction: column;
    align-items: center;
}
ul#main-menu{
    flex-direction: column;
    text-align: center;
}
#bar{
    display: block;
    overflow: auto;
}
nav{
    display: none;
}
ul#main-menu a:hover{
    background-color: honeydew;
    transition: all;
}
.logo{
    align-items: center;
    text-align: center;
}
.container{
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 1%;
    padding-top: 20%;
}
.normal{
    padding: auto;
    width: 64%;
    height: 30%;
    margin: 0% 20% 0% 17%;
}
.normal img{
    width: 100%;
}
.logo{
    display: none;
}
.logo1{
    width: 15%;
}
.icon{
    float: right;
}
