*{
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-image: url(../images/bgcmt4.JPG);
    background-color:#f5eaeb;
}
header{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
footer{
    padding-top: 2%;
    padding-bottom: 0.5%;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
}
.myfooter{
    display: block;
    width: 100%;
    position:relative;
    bottom: 0;
    background-color: gold;
}
.container{
    text-align: center;
    font-family: monospace;
    padding: 150px 50px 70px 0px;
    width: 40%;
}
ul{
    list-style: none;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
.myheader{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    background-color: gold;
    align-items: center;
}
#bar{
    font-size: 4vw;
    display: none;
    background-color: gold;
    text-align: center;
    align-items: center;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
}
nav{
    display: block;
}
ul#main-menu{
    display: flex;
    padding: 10px;
}
ul#main-menu a{
    text-transform: capitalize;
    padding: 10px 20px;
    color: black;
    display: block;
    font-size: 1.75vw;
} 
.box{
    display: inline-block;
}
a:hover{
    text-decoration: underline;
}
#btt{
    font-size: 2vw;
    background: gold;
    color: black;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0.5%;
    right: 0.5%;
    border: black solid;
    cursor: pointer;
    z-index: 9999;
}
.logo{
    width: 10%;
}
.contact{
    position: fixed;
    top: 30%;
    z-index: 9999;
}
div.contact ul > li{
    background-color: gold;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.5vw;
}
div.contact ul > li:hover{
    transform: scale(1.2);
}
div.contact ul > li a{
    font-size: 2vw;
    color: black;
}
.cmt-section{
    padding: 5%;
    position: relative;
}
.upperrow{
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
}
.cmtboxes{
    background-color: #f5eaeb;
    text-align: center;
    width: 100%;
    height: 50vw;
    overflow: auto;
}
.cmtbox{
    position: relative;
    padding-top: 0.5%;
    font-size: 1vw;
    margin-bottom: 6%;
}
.del{
    position: absolute;
    right: 0;
    padding-right: 1%;
    cursor: pointer;
    font-size: 1vw;
}
.cmtbox i{
    position: absolute;
    left: 0;
    padding-left: 3%;
    font-size: 1vw;
}
.point{
    position: absolute;
    left: 5%;
}
hr{
    padding: 2%;
    height: 0;
    border-top: 1px solid black;
    width: 50%;
}
input[type=text]{
    width: 45%;
}
input[type=number]{
    width: 30%;
}
textarea{
    width: 100%;
    height: 10vw;
}
input[type=button]{
    font-size: 1vw;
    margin-left: 90%;
    margin-right: auto;
}
.tittle h1{
    font-size: 5vw;
}
.tittle > div{
    font-size: 1.5vw;
    background-color: #f5eaeb;
}