body{
    background-image: url(../images/bg_mb.JPG);
}
.logo{
    display: none;
}
.hptittle{
    text-align: center;
    padding-left: 30px;
}
.hpcontainer{
    color: lightyellow;
    text-shadow: 1px 2px 2px black;
}
.hptittle{
    color: lightyellow;
    text-shadow: 1px 3px 2.5px black;
}
.box{
    display: block;
    padding-top: 10px;
    margin-left: 40%;
}
dd a{
    padding: auto;
}
header{
    flex-direction: column;
    align-items: center;
}
ul#main-menu{
    flex-direction: column;
    text-align: center;
}
#bar{
    display: block;
    overflow: auto;
}
nav{
    display: none;
}
ul#main-menu a:hover{
    background-color: honeydew;
    transition: all;
}
.logo1{
    width: 15%;
}
.icon{
    float: right;
}